<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.chi.photopicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application>

        <activity
            android:name=".utils.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
